body{
    font-family: 'Times New Roman', Times, serif;
    background-color:pink;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    padding: 20px;
}

h1{
    color:black;
    margin: 10px;
    text-align: center;
}
.buttons{
    margin-bottom: 10px;
}

button{
    background-color:violet;
    color: black;
    font-size: 18px;
    border: 10px;
    border-radius: 16px;
    cursor:pointer;
    transition:background-color 0.3s ease;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
}

button:hover{
    background-color:#dfa2ee
}

button.active{
    background-color:#e683ff
}